{% extends 'base.html.twig' %}

{% block title %}Le produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <!-- Image -->
            <div class="col-12 col-lg-6">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <a href="" data-toggle="modal" data-target="#productModal">
                            <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff">
                            <p class="text-center">Zoom</p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Add to cart -->
            <div class="col-12 col-lg-6 add_to_cart_block">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <p class="price">{{ product.price }} €</p>
                        <form method="get" action="#">
                            <div class="form-group">
                                <label for="colors">Color</label>
                                <select class="custom-select" id="colors">
                                    <option selected="">Select</option>
                                    <option value="1">Blue</option>
                                    <option value="2">Red</option>
                                    <option value="3">Green</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quantity :</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                            <i class="bi bi-dash-circle"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" id="quantity" name="quantity" min="1" max="100" value="1">
                                    <div class="input-group-append">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <i class="bi bi-plus-square"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-success btn-lg btn-block text-uppercase">
                                <i class="bi bi-cart-plus"></i> Add To Cart
                            </a>
                        </form>
                        <div class="product_rassurance">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br>Fast delivery</li>
                                <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br>Secure payment</li>
                                <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br>+33 1 22 54 65 60</li>
                            </ul>
                        </div>
                        <div class="reviews_product p-3 mb-2 ">
                            3 reviews
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            (4/5)
                        <hr/>
                            <a class="pull-right" href="#reviews">View all reviews</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Description -->
            <div class="col-12">
                <div class="card border-light mb-3">
                    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ product.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
