{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h1 class="h3 mb-3 font-weight-normal">Ajouter un nouveau produit</h1>
    </section>
    <div class="text-center">

            {{ form(form) }}
        </div>

    </div>

{% endblock %}